*{
    margin: 0;
    padding: 0;
}
.canvas{
    border: 1px solid black;
}
.contanerCanvas{
    width: 422px;
    margin: 0 auto;
}
.containerFild{
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url(../images/background.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#fps-counter{
    /*color: #fff;*/
}
#scores{
    text-align: center;
}
