.main {
	background-color: black;
	margin: 10px;
}

.main_window {
	width: 50%;
	height: 100%;
	margin: 10px 25%;
}

.upgrades, .weapons {
	background-color: white;
	padding: 10px;
	font-size: 25px;
}

.upgrades-table {
	margin: auto;
}

.weapons-table {
	margin: auto;
}

td {
	text-align: center;
	vertical-align: center;
}

.header {
	background-color: white;
	padding: 10px;
}

.hp {
	top: 10px;
	text-align: center;
	margin: auto;
	font-size: 40px;
}

#clickMe {
	text-align: center;
	margin: auto;
}

.click {
	height: 60px;
	font-size: 25px;
}

.buy_button {
	height: 40px;
	font-size: 25px;
}

.dpc_label {
	font-size: 20px;
	margin: 10px;
	text-align: center;
	color: green;
}

.dps_label {
	font-size: 20px;
	margin: 10px;
	text-align: center;
	color: red;
}

.tab {
	margin: 10px 0 0 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
	width: 33%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.money,.exp {
	font-size: 20px;
}