body {
	background-color: black;
	margin: 10px;
}

.game {
	width: 50%;
	height: 100%;
	margin: 10px 25%;
	background-color: white;
}

.money_str {
	top: 10px;
	text-align: center;
	margin: auto;
	font-size: 40px;
}

#click {
	height: 200px;
	font-size: 25px;
}

.clickMe {
	text-align: center;
	margin: auto;
}

.hp_str {
	text-align: center;
	margin: auto;
}