body {
	background-color: grey;
}

#main {
	width: 100%;
	margin-top: 25px;
	background-color: #85A
}

#progress_bg {
	height: 15px;
    width: 50%;
    margin: 0 auto;
	background-color: #A05F5F;
	border-color: red;
	border-style: solid;
	border-width: 3px;
	opacity: 0.9;
	position: relative;
	text-align: center;
	font-style: white;
}

#progress {
	background-color: red;
	height: 100%;
	position: relative;
	top: -18px;
	z-index: -1;
}

#main_panel {
	border: solid 5px white;	
	background-color: #C05F50;
	height: 500px;
	width: 500px;
	margin: auto;
	margin-top: 15px;
}

#cell {
	height: Calc(20% - 10px);
    width: Calc(20% - 10px);
	background-color: #AAA;
	float: left;
	border-style: solid;
	border-width: 5px;
}

.active {
	border-color: red;
	border-style: solid;
	border-width: 3px;
}